.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}
.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}

.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

:root {
    --maincolor: #1A1A1A;
    --buttoncolor: #65A0C2;
    --buttoncolor2: #65A0C2;
    --accent: #A79BF2;
    --light: #F2F2F2;
    --lighttrans: rgba(242, 242, 242, .15);
    --lighttrans2: rgba(242, 242, 242, .6)
}

body {
    background: linear-gradient(140deg,rgba(46, 22, 34, 1) 0%, rgba(159, 78, 173, 1) 52%, rgba(115, 227, 235, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: var(--light);
    font-family: "Tangerine", cursive;
    height: 100vh;
}

button {
    background: none;
    border: 2px solid var(--light);
    border-radius: 10px;
    line-height: 1;
    margin: 25px;
    padding: 1em 2em;
    color: var(--light);
    max-width: 25rem;
    font-family: "Amarante", serif;
    font-size: 1.5rem;
}

.pulse:hover {
    animation: pulse .89s;
    box-shadow: 0 0 0 .8em transparent;
    background-color: rgba(206, 123, 221, 0.3);
    color: var(--light);
    border: 2px solid var(--light);
}


@keyframes pulse {
    0% { box-shadow: 0 0 0 3px var(--light); }
}

#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

h1 {
    font-family: "Amarante", serif;
    font-size: 2.5rem;
}

h3 {
    font-family: "Amarante", serif;
    font-size: 1.2rem;
}

#message {
    font-size: 1.3rem;
    margin: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: left;
    line-height: 1.5rem;
    text-wrap-mode: balance;
}

.card {
    display: flex;
    border: 1px solid var(--lighttrans2);
    border-radius: 25px;
    margin: 50px;
    background-color: var(--lighttrans);
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 70vw;
}
.messagecontainer {

}

