.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}
.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
}

:root {
    --maincolor: #1A1A1A;
    --buttoncolor: #1d3c7f;
    --buttoncolor2: #7392d5;
    --accent: #1d63dd;
    --light: #F2F2F2;
    --lighttrans: rgba(242, 242, 242, .1);
    --lighttrans2: rgba(242, 242, 242, .6)
}

html {
    scroll-behavior: smooth;
    scrollbar-color: var(--buttoncolor2) var(--buttoncolor);
    scrollbar-width: thin;
}

body {
    background: linear-gradient(140deg,rgba(20, 17, 36, 1) 0%, rgba(11, 42, 115, 1) 50%, rgba(27, 76, 181, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: var(--light);
    font-family: "EB Garamond", serif;
    height: 100vh;

}

button {
    background: none;
    border: 2px solid var(--light);
    border-radius: 10px;
    line-height: 1.2rem;
    margin: 25px;
    padding: 1em 2em;
    color: var(--light);
    max-width: 25rem;
    font-family: "Cinzel Decorative", serif;
    font-size: 1rem;
    align-items: center;
    align-content: center;
}

.pulse:hover {
    animation: pulse .89s;
    box-shadow: 0 0 0 .8em transparent;
    background-color: var(--buttoncolor);
    color: var(--light);
    border: 2px solid var(--light);
}


@keyframes pulse {
    0% { box-shadow: 0 0 0 3px var(--light); }
}

#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Cinzel Decorative", serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

h3 {
    font-family: "Cinzel Decorative", serif;
    font-size: .9rem;
    font-weight: normal;
}

#message {
    font-size: 1.3rem;
    margin: 20px;
    font-family: "EB Garamond", serif;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: left;
    line-height: 1.5rem;
    text-wrap-mode: balance;
}

.card {
    display: flex;
    border: 1px solid var(--lighttrans2);
    border-radius: 25px;
    margin: 20px;
    background-color: var(--lighttrans);
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 70vw;
    padding: 10px 10px;
}
.messagecontainer {
    height: 50vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--buttoncolor2) var(--buttoncolor);
    scrollbar-width: thin;
}

